<?xml version="1.0"?>
<configuration>
    <system.web>
      <pages pageBaseType="wod.lwcms.web.tempPage,wod.lwcms.core"
             userControlBaseType="wod.lwcms.web.tempControl,wod.lwcms.core">
        <namespaces>
          <add namespace="System.Collections.Generic"/>
          <add namespace="wod.lwcms.models"/>
          <add namespace="wod.lwcms.web"/>
        </namespaces>
        <controls>
          <add src="~/svrtheme/default/authentication/commentadd.ascx" tagName="commentadd" tagPrefix="u"/>
          <!--<add src="~/svrtheme/default/commentadd.ascx" tagName="commentadd" tagPrefix="u"/>-->
        </controls>
      </pages>
    </system.web>
</configuration>
