/* lwcms standard */
body{background-color:#efd;min-width:1020px;}
h1{padding:9px 9px;}
h2{padding:7px 7px;}
h3{padding:4px 4px;}
p{padding:3px 3px;font-size:14px;}
p.std-p{text-indent:26px;}

.cl{clear:both;}

/* lwcms management layout */
.l-top{padding:7px 5px;border:1px solid #489;background-color:#489;}
.l-middle{padding:7px 5px;background-color:#489;border-top:1px solid #303;}
.l-content{clear:both;}

.o-logo{font-size:16px;line-height:16px;}
.o-copyright{font-size:12px;color:#303;padding-left:30px;vertical-align:text-bottom;}

.f-menu{vertical-align:baseline;line-height:18px;}
.f-menu li{float:left;position:relative;}
.f-menu a{padding:2px 5px;border-right:1px solid #000;}
.f-menu li:hover,.f-menu li_hover{background-color:#ef9;}
a.f-menu_a_last{border-right:0px solid;}
.f-submenu{position:absolute;left:0px;top:18px;display:none;z-index:100;background-color:#355;width:160px;}
.f-submenu li,.f-submenu_li{float:none;padding:3px 7px;}
.f-submenu a{border-right:0px solid #000;}
.f-menu li:hover .f-submenu,.f-menu li_hover .f-submenu{display:block;}
.f-submenu li a{color:#fff;}
.f-submenu li:hover a{color:#000;}

/* index */
.g-index{width:820px;}
.f-qlink{float:left;width:198px;margin:4px;height:40px;text-align:center;border:1px solid #8cc;}
.f-qlink a{line-height:40px;}

/* artadd */
.g-left{width:340px;float:left;}
.g-center{width:670px;float:left;}

.f-form{margin:0 auto;}
.f-form-c2{width:320px;}
.f-form .fr{width:320px;padding:5px 0;clear:both;}
.f-form .fr .fr-label{width:100px;float:left;text-align:right;}
.f-form .fr .fr-input{width:200px;float:left;}

.f-form .fr .fr-input input,.f-form .fr .fr-input select{width:100%;}
.f-form .fr .fr-input textarea{width:100%;height:60px;}
.f-sdoc textarea{width:100%;height:400px;}

/* art list */
.g-left-thin{width:200px;}
.f-list{width:100%;}
.f-list-item{padding:10px;border:1px solid #8cc;background:#dff;border-top:0px;}
.f-list-item.alt{background:#abb;}
.f-list-item:hover{background:#a0bbbb;}
.f-cmd{text-align:right;padding:3px 5px 0 0;}
.f-cmd a{padding:0 5px;}











/* nec form -----------------------------------------------------*/
/* 文本输入框 */
.u-ipt{width:180px;padding:5px;height:17px;border:1px solid #D9D9D9;border-top-color:#c0c0c0;line-height:17px;font-size:14px;color:#777;background:#fff;}
/* 文本输入框-窄 */
.u-ipt-1{width:90px;}
/* 文本输入框-出错 */
.u-ipt-err{border-color:#c00 #e00 #e00;}
/* 通用自定义按钮-默认蓝色 */
.u-btn{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #2d88bf;font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;background:#54aede;}
button.u-btn{*height:30px;_line-height:25px;}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}
.u-btn:hover,.u-btn:focus{background:#399dd8;}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn .btntxt{margin-right:3px;_vertical-align:middle;}
.u-btn .btnsel{display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden;vertical-align:middle;border-style:solid dashed dashed;border-width:4px 4px 0;border-color:#fff transparent transparent;}
/* 较大 */
.u-btn-lg{padding:0 15px;height:36px;line-height:36px;font-size:18px;}
button.u-btn-lg{*height:38px;_line-height:33px;}
.u-btn-lg .btnsel{border-width:5px 5px 0;}
/* 较小 */
.u-btn-sm{padding:0 10px;height:22px;line-height:22px;}
button.u-btn-sm{*height:24px;_line-height:19px;}
/* 红色 */
.u-btn-c1{border-color:#9f161b;background:#de2027;}
.u-btn-c1:hover,.u-btn-c1:focus{background:#cc1c23;}
/* 黄色 */
.u-btn-c2{border-color:#e1962d;background:#faa42b;}
.u-btn-c2:hover,.u-btn-c2:focus{background:#f8960a;}
/* 绿色 */
.u-btn-c3{border-color:#52a552;background:#5cbc5c;}
.u-btn-c3:hover,.u-btn-c3:focus{background:#50b150;}
/* 灰色 */
.u-btn-c4{border-color:#d0d0d0;background:#f3f3f3;}
.u-btn-c4,.u-btn-c4:hover{color:#333;}
.u-btn-c4:hover,.u-btn-c4:focus{background:#e7e7e7;}
.u-btn-c4 .btnsel{border-top-color:#555;}
.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:#000;}
/* 简易表单 */
.m-form{line-height:29px;color:#555;}
.m-form legend{font-size:14px;font-weight:bold;}
.m-form .formitm{padding:20px 0 0;line-height:30px;}
.m-form .formitm-1{padding-left:100px;}
.m-form .lab{float:left;width:90px;margin-right:-90px;text-align:right;font-weight:bold;}
.m-form .ipt{margin-left:100px;}
.m-form .ipt *{vertical-align:middle;}
.m-form .ipt a,.m-form .ipt a:hover{text-decoration:none;color:#3891eb;}
.m-form .ipt img{height:32px;margin:0 15px 0 5px;}
.m-form .ipt .domain{margin:0 0 0 5px;font-weight:bold;color:#777;}
.m-form .ipt p{height:22px;line-height:22px;color:#999;}
.m-form .tip{padding-top:10px;}
.m-form .tip input{margin:0 5px 3px 0;}
/* nec form -----------------------------------------------------*/
/* nec pager -----------------------------------------------------*/
/* 普通翻页器-默认居中 */
.m-page{margin:10px 0 0;text-align:center;line-height:32px;font-size:0;letter-spacing:-0.307em;word-wrap:normal;white-space:nowrap;color:#999;}
.m-page a,.m-page i{display:inline-block;vertical-align:top;padding:0 12px;margin-left:-1px;border:1px solid #ddd;font-size:12px;letter-spacing:normal;text-shadow:0 1px #fff;background:#fff;-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;transition:background-color 0.3s;}
.m-page a,.m-page a:hover{text-decoration:none;color:#39c;}
.m-page a:first-child{margin-left:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.m-page a:last-child{margin-right:0;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.m-page a.pageprv:before,.m-page a.pagenxt:after{font-weight:bold;font-family:\5b8b\4f53;vertical-align:top;}
.m-page a.pageprv:before{margin-right:3px;content:'\3C';}
.m-page a.pagenxt:after{margin-left:3px;content:'\3E';}
.m-page a:hover{background:#f5f5f5;}
.m-page a:active{background:#f0f0f0;}
.m-page a.z-crt,.m-page a.z-crt:hover,.m-page a.z-crt:active{cursor:default;color:#999;background:#f5f5f5;}
.m-page a.z-dis,.m-page a.z-dis:hover,.m-page a.z-dis:active{cursor:default;color:#ccc;background:#fff;}
/* 居左 */
.m-page-lt{text-align:left;}
/* 居右 */
.m-page-rt{text-align:right;}
/* 较小 */
.m-page-sm{line-height:22px;}
.m-page-sm a,.m-page-sm i{padding:0 8px;}
/* 分离 */
.m-page-sr a,.m-page-sr i{margin:0 3px;border-radius:5px;}
.m-page-sr i{border:0;}
.m-page-sr a:first-child,.m-page-sr a:last-child{border-radius:5px;}
/* nec pager -----------------------------------------------------*/
